@import 'tailwindcss';
@import "./hue.css";
@import "./shadcn-animations.css";

@config '../../tailwind.config.cjs';

@layer base {
  hr {
    @apply border-neutral-300 dark:border-neutral-800
  }

  body {
    @apply bg-background
  }
}

@theme {
  --font-sans: var(--custom-font);

  --color-white: white;
  --color-transparent: transparent;

  --spacing-page: min(2rem, min(4vw, 4vh));
  --spacing-navbar: min(1rem, min(2vw, 2vh));
}

@utility text-direction-y {
  writing-mode: sideways-lr;
}
@utility text-direction-x {
  writing-mode: horizontal-tb;
}

@utility text-typography {

  color: color-mix(in oklch, var(--color-primary-950) 90%, var(--color-white));

  &:where(.dark *) {
    color: color-mix(in oklch, var(--color-primary-50) 90%, var(--color-neutral-950));
  }
}

@utility bg-background {

  background-color: var(--color-neutral-50);

  &:where(.dark *) {
    background-color: var(--color-neutral-900);
  }
}
